<!doctype html>
<html lang="en">
<head>
{{ template "head" . }}
</head>
<body class="story-page" data-view="classic">
{{ template "topbar" . }}
<main class="story-page-main">
  <h1 class="visually-hidden">{{ .Story.Title }}</h1>
  {{ template "storybody" .Story }}
</main>
{{ template "dialogs" . }}
{{ template "scripts" . }}
</body>
</html>
